.admin-container {
    max-width: 1300px;
    margin: auto;
    padding: 30px;
}

/* HEADER */
.admin-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}

.admin-header h1 {
    color: #621132;
}

.logout {
    background: #621132;
    color: white;
    padding: 8px 15px;
    border-radius: 6px;
    text-decoration: none;
    font-weight: 600;
}

/* CONTADORES */
.contadores {
    display: flex;
    gap: 20px;
    margin-bottom: 30px;
}

.card {
    flex: 1;
    padding: 20px;
    border-radius: 10px;
    color: #333;
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 14px;
}

.card strong {
    font-size: 22px;
}

.pendiente { background: #ffe08a; }
.revision  { background: #9fd3e6; }
.aprobado  { background: #9be7b0; }
.rechazado { background: #f5a3a3; }

/* FILTROS */
.filters {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

select {
    padding: 8px;
    border-radius: 5px;
}

/* BOTONES */
.export-buttons {
    display: flex;
    gap: 10px;
}

.btn {
    padding: 8px 14px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-weight: 600;
}

.btn-pdf {
    background: #621132;
    color: white;
}

.btn-excel {
    background: #1D6F42;
    color: white;
}

/* TABLA */
.table-container {
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    background: white;
    border-radius: 8px;
    overflow: hidden;
}

th {
    background: #621132;
    color: white;
    padding: 14px;
    text-align: left;
}

td {
    padding: 14px;
    border-bottom: 1px solid #eee;
}

tbody tr:hover {
    background: #f8f8f8;
}

/* BADGES */
.badge {
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 13px;
    font-weight: 600;
}

.badge-pendiente { background: #ffe08a; }
.badge-revision  { background: #9fd3e6; }
.badge-aprobado  { background: #9be7b0; }
.badge-rechazado { background: #f5a3a3; }

.btn-descarga {
    color: #BC955C;
    font-weight: 600;
    text-decoration: none;
    margin-right: 8px;
}

/* RESPONSIVE */
@media (max-width: 900px) {
    .contadores {
        flex-direction: column;
    }

    .filters {
        flex-direction: column;
        align-items: flex-start;
        gap: 15px;
    }
}


.search-box input {
    padding: 8px 12px;
    border-radius: 6px;
    border: 1px solid #ccc;
    width: 325px;
    font-family: 'Inter', sans-serif;
}

.search-box input:focus {
    outline: none;
    border-color: #621132;
    box-shadow: 0 0 5px rgba(98,17,50,0.3);
}
